@reference "../../styles.css";

.label {
  display: flex;
  align-items: center;
  gap: var(--spacing-md);
  font-size: var(--fontSize-xs);
  line-height: 1;
  font-weight: 500;
  user-select: none;

  :global([data-disabled="true"]) & {
    pointer-events: none;
    opacity: 0.5;
  }

  :global(:disabled) ~ & {
    cursor: not-allowed;
    opacity: 0.5;
  }
}
